{% extends 'software_index.html' %}
{% load static %}


{% block content %}

<h1>Модель Липова</h1>
<label> Липов модифицировал модель Миллса, сделав то же предположение, что и Миллса,
    т.е. что собственные и искусственные ошибки имеют равную вероятность быть найденными.
    Применение рассматриваемой модели Липова требует выполнения следующие условия: N>n>0; S>V>0; m>n+ V>0.
</label>
<hr>
<div class="row">
    <div class='col' style="margin-bottom: 10px;">
        <form id="LipovForm">
            <h4>Входные параметры:</h4>
            <div class="mb-3">
                <label class="form-label">Первоначальное число ошибок в программе N</label>
                <input class="form-control" name="HN" id="HN" onchange="calculate()">
            </div>
            <div class="mb-3">
                <label class="form-label">Количество тестов m</label>
                <input class="form-control" name="m" id="m" onchange="calculate()">
            </div>
            <div class="mb-3">
                <label class="form-label">Количество искусственно внесенных ошибок S</label>
                <input class="form-control" name="S" id="S" onchange="calculate()">
            </div>
            <div class="mb-3">
                <label class="form-label">Число найденных собственных ошибок n</label>
                <input class="form-control" name="n" id="n" onchange="calculate()">
            </div>
            <div class="mb-3">
                <label class="form-label">Число обнаруженных к моменту оценки искусственных ошибок V</label>
                <input class="form-control" name="V" id="V" onchange="calculate()">
            </div>
        </form>
        <hr>
        <div>
            <h4>Расчётные параметры:</h4>
            <div class="mb-3">
                <label class="form-label">Вероятность обнаружения ошибок Q</label>
                <input class="form-control" id="Q" readonly>
            </div>
        </div>
        <hr>
    </div>
    <div class='col' style="margin-bottom: 10px;">
        <div class="row">
            <div class="col">
                <h4>Значения из БД:</h4>
            </div>
            <div class="col" style="display: flex; justify-content: flex-end; height:32px;">
                <button type="button" class="btn btn-primary" onclick="add_Param()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"></path>
                    </svg>
                    Добавить
                </button>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">N</th>
                <th scope="col">m</th>
                <th scope="col">S</th>
                <th scope="col">n</th>
                <th scope="col">V</th>
                <th scope="col">Выбрать</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody id="table_body">
            {% for param in context.parameters %}
            <tr>
                <td>{{ param.HN }}</td>
                <td>{{ param.m }}</td>
                <td>{{ param.HS }}</td>
                <td>{{ param.n }}</td>
                <td>{{ param.HV }}</td>
                <td>
                    <button type="button" class="btn btn-success" style="height:25px; width:120px; display: flex; align-items: center; justify-content: center;" onclick="choose_Param({{ param.HN }},{{ param.m }},{{ param.HS }},{{ param.n }},{{ param.HV }})">
                        Выбрать
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger" style="height:25px; width:120px; display: flex; align-items: center; justify-content: center;" onclick="del_Param({{param.id}})"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                    </svg>Удалить</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<br>

<script>
    function add_Param(){
        var params = new FormData(document.getElementById('LipovForm'));
        fetch('http://'+window.location.hostname+':'+window.location.port+'/software/lipov/api/add',
         { method: 'POST', body: params })
         .then(response=>response.json())
         .then(data=>{
            location.reload();
            console.log('data=', data);
            });
    }

    function del_Param(id){
        var params = new FormData();
        params.append('id', id)
        fetch('http://'+window.location.hostname+':'+window.location.port+'/software/lipov/api/del',
         { method: 'POST', body: params })
         .then(response=>response.json())
         .then(data=>{
            location.reload();
            console.log('data=', data);
            });
    }

    function choose_Param(HN,m,S,n,V){
        document.getElementById('HN').value= HN;
        document.getElementById('m').value= m;
        document.getElementById('S').value= S;
        document.getElementById('n').value= n;
        document.getElementById('V').value= V;
        calculate();
    }

    function calculate(){
        var N = Number(document.getElementById('HN').value);
        var m =  Number(document.getElementById('m').value);
        var S =  Number(document.getElementById('S').value);
        var n =  Number(document.getElementById('n').value);
        var V =  Number(document.getElementById('V').value);
        var q = (n+V)/n;
        var high_part = ((N/n)*(S/V))/((N+S)/(n+V))
        var count = Math.abs((m/(n+V))*Math.pow(q, n+V)*Math.pow(1-q,m-n-V*high_part))
        if(count>1){
            document.getElementById("Q").value = 1} else{document.getElementById("Q").value = count}
    }

</script>
{% endblock %}