{% extends 'base.html' %}
{% load static %}


{% block body-content %}
<div id="grey_background"
     style="background-color: #F5F5F5;
            border-radius: 30px;
            margin: 1em;
            min-height:: 50em;">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link {% if context.pre_title == 'Import' %}active{% endif %}" data-toggle="tab" href="{% url 'import_file' %}" role="tab" aria-controls="home" aria-selected="true">
            Импорт</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if context.pre_title == 'Handler' %}active{% endif %}" data-toggle="tab" href="{% url 'handler' %}" role="tab" aria-controls="profile" aria-selected="false">
            Таблица</a>
      </li>
    </ul>

    <div style="margin: 1em;" >
        {%  block content %}
        <h1>ОЦЕНКА НАДЕЖНОСТИ ОПЕРАТОРА</h1>
        <hr>
        <p><b>Описание:</b> Это программный модуль оценки надежности безошибочного выполнения оператором поставленных ему задач.</p>
        <p><b>Инструкция:</b> Для взаимодействия с модулем перейдите в одну из вкладок дополнительного навигационного меню ('Импорт'/'Таблица').</p>
        <hr>
        <p>Надежность работы диспетчера определяется как вероятность успешного выполнения им поставленной задачи на заданном этапе функционирования системы.</p>
        <img src="http://latex.numberempire.com/render?{𝑃}_{Д} = {𝑃}_{ОП} + (1 − 𝑃_{ОП})𝑃_{ИСП}" alt="𝑃Д = 𝑃ОП + (1 − 𝑃ОП)𝑃ИСП,">
        <p>где: <br>
            𝑃Д – вероятность безотказной работы диспетчера; <br>
            𝑃ОП –вероятность безошибочного выполнения операций диспетчером; <br>
            𝑃ИСП – вероятность исправления диспетчером допущенной ошибки. <br> </p>
        <p>Текст поясняющий принцип работы ...</p>
        {% endblock %}
    </div>

</div>

{% endblock %}