{% extends 'index.html' %}
{% load static %}



{% block content %}
<h4 style="margin-bottom: 0;"> Оценка надежности оператора </h4>
<hr align="center" width="100%" size="5" color="#212529" style="margin-top:0;"/>
<form action="" method="POST">
    <div class="row">
        <div class="form-group col-md-4">
            <label>Вероятность безотказной работы диспетчера</label>
            <input class="form-control" placeholder="Pд" value="{{context.reliability.0}}">
        </div>
        <div class="form-group col-md-4">
            <label>Вероятность безошибочного выполнения операций диспетчером</label>
            <input class="form-control" placeholder="𝑃оп" value="{{context.reliability.1}}">
        </div>
        <div class="form-group col-md-4">
            <label>Вероятность исправления диспетчером допущенной ошибки</label>
            <input class="form-control" placeholder="𝑃исп" value="{{context.reliability.2}}">
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Расчёт</button>
</form>
<br>
<h4 style="margin-bottom: 0;"> Виды деятельности </h4>
<hr align="center" width="100%" size="5" color="#212529" style="margin-top:0;"/>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Операция</th>
            <th scope="col">Nj </th>
            <th scope="col">nj </th>
            <th scope="col">kj </th>
            <th scope="col">Pк</th>
            <th scope="col">Pоб</th>
            <th scope="col">Pи</th>
            <th scope="col" style="width: 240px;" >Редактировать</th>
            <th scope="col" style="width: 240px;" >Удалить</th>
        </tr>
    </thead>
    <tbody>
    {% for data in context.data %}
    <tr>
        <th scope="row">{{ forloop.counter0 }}</th>
        <td>{{data.operation}}</td>
        <td>{{data.N_count}}</td>
        <td>{{data.n_error}}</td>
        <td>{{data.k }}</td>
        <td>{{data.Pk}}</td>
        <td>{{data.Pob}}</td>
        <td>{{data.Pi}}</td>
        <td>
            <button type="button" class="btn btn-outline-secondary" style="height:25px; width:160px; display: flex; align-items: center; justify-content: center;" data-bs-toggle="modal" data-bs-target="#updateModal_{{data.id}}" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                Редактирование
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-outline-danger" style="height:25px; width:120px; display: flex; align-items: center; justify-content: center;" onclick="delete_Active({{data.id}})">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                </svg>
                Удалить
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% for data in context.data %}
<!-- Modal -->
<div class="modal fade" id="updateModal_{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Редактирование параметров</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form id="form_{{data.id}}">
              <div class="row">
                  <div class="mb-3">
                    <label class="form-label">Операция</label>
                    <input class="form-control" name="operation" value="{{data.operation}}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> Nj</label>
                    <input class="form-control" name="N_count" value="{{data.N_count}}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> nj</label>
                    <input class="form-control" name="n_error" value="{{data.n_error}}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> kj</label>
                    <input class="form-control" name="k" value="{{data.k }}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> Pк</label>
                    <input class="form-control" name="Pk" value="{{data.Pk}}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> Pоб</label>
                    <input class="form-control" name="Pob" value="{{data.Pob}}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> Pи</label>
                    <input class="form-control" name="Pi" value="{{data.Pi}}">
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="update_Active({{data.id}})">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<button type="button" class="btn btn-success" style="float: right;" data-bs-toggle="modal" data-bs-target="#addModal">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
    </svg>
    Добавить
</button>
<br>
<br>
<br>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Добавлен деятельности</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form id="form_add">
              <div class="row">
                  <div class="mb-3">
                    <label class="form-label">Операция</label>
                    <input class="form-control" name="operation" value="{{data.operation}}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> Nj</label>
                    <input class="form-control" name="N_count" value="{{data.N_count}}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> nj</label>
                    <input class="form-control" name="n_error" value="{{data.n_error}}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> kj</label>
                    <input class="form-control" name="k" value="{{data.k }}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> Pк</label>
                    <input class="form-control" name="Pk" value="{{data.Pk}}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> Pоб</label>
                    <input class="form-control" name="Pob" value="{{data.Pob}}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label"> Pи</label>
                    <input class="form-control" name="Pi" value="{{data.Pi}}">
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="add_Active()">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>



<script>
    function delete_Active(id){
        var params = new FormData();
        params.set('id', id);
        fetch('http://'+window.location.hostname+':'+window.location.port+'/operator/api/del',
         { method: 'POST', body: params })
         .then(response=>response.json())
         .then(data=>{
            location.reload();
            console.log('data=', data);
            });
    }

    function update_Active(id){
        let form = String('form_'+id)
        console.log(form);
        var params = new FormData(document.getElementById(form));
        params.set('id', id);
        fetch('http://'+window.location.hostname+':'+window.location.port+'/operator/api/upd',
         { method: 'POST', body: params })
         .then(response=>response.json())
         .then(data=>{
            location.reload();
            console.log('data=', data);
            });
    }


    function add_Active(){
        var params = new FormData(document.getElementById('form_add'));
        fetch('http://'+window.location.hostname+':'+window.location.port+'/operator/api/add',
         { method: 'POST', body: params })
         .then(response=>response.json())
         .then(data=>{
            location.reload();
            console.log('data=', data);
            });
    }

</script>
{% endblock %}